.bx{
    position: relative;
    margin-top: -10px;
 }
.notify{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    left: 18%;
    background-color: #444444;
    color: white;
}


  a{
    color: #444444;
    text-decoration: none;
    }
    #miPrestamo{
        margin-top: -20px;;
    }
    a:hover{
        color: #444444;
    }
    a:is(:link, :active, :visited).active{
        color: #4A9D22;
        font-size: 20px;
    }
